<!DOCTYPE html>
<html>
    <head>
        <title>
            {{if .Tag}}Index of stories tagged &ldquo;{{.Tag}}&rdquo;{{end}}
            {{if not .Tag}}Story index{{end}}
        </title>
    </head>

    <body>
        <h1>
            {{if .Tag}}Index of stories tagged &ldquo;{{.Tag}}&rdquo;{{end}}
            {{if not .Tag}}Story index{{end}}
        </h1>
        <p>There {{plural .TotalCount "is" "are"}} {{.TotalCount}} {{plural .TotalCount "story" "stories"}} in total.</p>

        {{range .Years}}
            <h2><a href="{{getTocURIWithYear .Year}}">{{if .Year}}Year {{.Year}}{{end}}{{if not .Year}}Undated{{end}}</a></>
            {{if .Count}}<p>{{.Count}} {{plural .Count "story" "stories"}}</p>{{end}}
            {{if .Tags}}<p>About {{$y := .Year}}{{range $i, $e := .Tags}}{{if $i}}, {{end}}&ldquo;<a href="{{getTagURIWithYear $e $y}}">{{$e}}</a>&rdquo;{{end}}.</p>{{end}}
        {{end}}

        <div>Índice <a href="{{.BaseURI}}-es.html">en español</a></div>
        <div>Índice <a href="{{.BaseURI}}-gl.html">en galego</a></div>
    </body>
</html>
