<!DOCTYPE html>
<html>
    <head>
        <title>{{.Title}}</title>
    </head>

    <body>
        <h1><a href="{{.Permalink}}">{{.Title}}</a></h1>
        {{if .Author.Name}}<p>By {{if .Author.URI}}<a href="{{.Author.URI}}">{{.Author.Name}}</a>{{end}}{{if not .Author.URI}}{{.Author.Name}}{{end}}</p>{{end}}
        {{if not .PublishDate.IsZero}}<p><a href="{{.Permalink}}">{{formatDate .PublishDate}}</a></p>{{end}}

{{.Content}}

        <hr>

        {{if .NewerPage.URI}}<p>Newer story: &ldquo;<a href="{{.NewerPage.URI}}">{{.NewerPage.Name}}</a>&rdquo;.</p>{{end}}
        {{if .OlderPage.URI}}<p>Older story: &ldquo;<a href="{{.OlderPage.URI}}">{{.OlderPage.Name}}</a>&rdquo;.</p>{{end}}

        {{range .Translations}}
            {{if eq .Language "es"}}<p>Esta historia ha sido traducida al español: &ldquo;<a href="{{.URI}}">{{.Name}}</a>&rdquo;.</p>{{end}}
            {{if eq .Language "gl"}}<p>Esta historia foi traducida ao galego: &ldquo;<a href="{{.URI}}">{{.Name}}</a>&rdquo;.</p>{{end}}
        {{end}}

        {{if .Tags}}<p>Other stories about {{range $i, $e := .Tags}}{{if $i}}, {{end}}&ldquo;<a href="{{getTagURI $e}}">{{$e}}</a>&rdquo;{{end}}.</p>{{end}}
        <p><a href="{{getTocURI}}">Table of contents</a></p>
    </body>
</html>
