<!DOCTYPE html>
<html>
    <head>
        <title>
            {{if not .Tag}}Table of contents{{end}}
            {{if .Tag}}Stories tagged &ldquo;{{.Tag}}&rdquo;{{end}}
        </title>
    </head>

    <body>
        <h1>
            {{if not .Tag}}Table of contents{{end}}
            {{if .Tag}}Stories tagged &ldquo;{{.Tag}}&rdquo;{{end}}
        </h1>
        <p>{{.TotalCount}} {{plural .TotalCount "story" "stories"}}.</p>

        {{range .Stories}}
            <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
            {{if .PublishDate}}<p>{{formatDate .PublishDate}}</p>{{end}}
            {{if .Summary}}<p>{{.Summary}}</p>{{end}}
            {{if .Tags}}<p>About {{range $i, $e := .Tags}}{{if $i}}, {{end}}&ldquo;<a href="{{getTagURI $e}}">{{$e}}</a>&rdquo;{{end}}.</p>{{end}}
        {{end}}

        {{if .Tag}}<p>Full <a href="{{getTocURI}}">table of contents</a>.</p>{{end}}
    </body>
</html>
